.shout
  .row
    =image_tag current_user.avatar(:small)
    =semantic_form_for Shout.new do |f|
      =f.input :message, :as=>:text, :label=>false,:hint=>"请控制字数,链接会被自动缩短。", :input_html => { :class => 'autogrow', :rows => 4, :maxlength => 340  }
      =submit_tag '发布微博',:class=>'btn'
