.shout
  .row
    .x
      =image_tag shout.user.avatar(:small)
      .shout_box
        =link_to "@"+shout.project.title, shout.project unless shout.project_id.nil?
        =link_to shout.user.name, shout.user
        =raw shout.message_with_link
        %p
          #{l(shout.created_at,:format=>:long)}
          =link_to_function "回复","$(\"##{shout.id}\").toggle()"
          =link_to "删除",shout_path(shout),:method=>:delete if current_user==shout.user

  %div{:class=>'row hidden',:id=>"#{shout.id}"}
    .x
      =image_tag current_user.avatar(:small)
      =form_for Shout.new do |f|
        =f.hidden_field :shout_id,:value=>shout.id
        =f.text_area :message,:rows=>2
        =submit_tag "发布回复",:class=>"btn margin0"

  -shout.shouts.asc(:created_at).each do |reply|

    .row
      .x
        .reply
          =image_tag reply.user.avatar(:small)
          .shout_box
            =link_to reply.user.name, reply.user
            =raw reply.message_with_link
            %p
              #{l(reply.created_at,:format=>:long)}
              =link_to "删除",shout_path(reply),:method=>:delete if current_user==reply.user


