%ul{:class=>"tabs",:"data-tabs"=>"tabs"}

  %li{:class=>"#{params[:type]==nil ? 'active':''}"}=link_to "大家正在说", myshouts_path
  %li{:class=>"#{params[:type]=="follow" ? 'active':''}"}=link_to "我的关注", myshouts_path("follow")
  %li{:class=>"#{params[:type]=="me" ? 'active':''}"}=link_to "我的发言", myshouts_path("me")
     


.row
  .span11=render 'form'
.row
  .span11=render @shouts

.row
  .span10.offset1= paginate @shouts
