-if user.profile
  .job_post_snippet
    .row
      .span3
        .lab=link_to user.profile.name, user
        #{user.profile.age}岁,
        #{user.profile.gender},
        -unless user.profile.residence_country.nil?
          身在#{user.profile.residence} 
      .span2.small
        #{time_ago_in_words(user.created_at)}以前
