%ul{:class=>"tabs",:"data-tabs"=>"tabs"}

  %li{:class=>"#{params[:controller]=='ind_users' && params[:action]=='overview' ? 'active':''}"}
    =link_to "工作圈主页", ind_user_overview_path

  %li{:class=>is_active?('job_searches#show')}=link_to '搜索职位',default_jobs_path 
  %li{:class=>is_active?('company_searches#show')}=link_to '搜索机构',default_companies_path 


  %li{:class=>"dropdown #{is_active?("job_posts#new")} #{is_active?("ind_users#job_posts")}",:"data-dropdown"=>"dropdown" }
    =link_to_function "职位管理",'$(".dropdown-menu.job_navigation").toggle()', :class=>"dropdown-toggle" 
    %ul.dropdown-menu.job_navigation
      %li=link_to "发布职位",new_job_post_path
      %li=link_to "查看历史",ind_user_job_posts_path(current_user)
        
       

          


:javascript
  $(".dropdown-toggle").hover(
    function () {
      $(this).addClass('active');
      $(this).next(".dropdown-menu").show();
    }, 
    function () {
      $(this).removeClass('active');
      $(this).next(".dropdown-menu").hide();
    }
  );
  $(".dropdown-menu").hover(
    function () {
      $(this).show();
    }, 
    function () {
      $(this).hide();
    }
  );

