%h4.with_span 收藏的项目
%span=link_to '查看所有项目', projects_list_path unless @projects.empty?
%p
-if @projects.empty?
  您没有收藏任何项目。
  =link_to "现在就去浏览项目吧", projects_path
  !
-else
  %table.zebra-striped
    %tr
      %th{width: "60px"} 项目Logo
      %th{width: "200px"} 项目名称
      %th{width: "100px"} 项目领域
      %th{width: "70px"} 项目所在地
      %th{width: "70px"} 项目人数
      %th{width: "70px"} 关注人数

    - for project in @projects
      %tr
        %td=image_tag project.logo(:small),height: "40px";
        %td=link_to project.title, project
        %td
          -project.project_fields.each do |field|
            .skill_item=field.name 
        %td=project.province.name
        %td=project.people_count 
        %td=project.bookmarkings.count
  =paginate @projects

