=render 'ind_users/navigation'
%table.zebra-striped
  %tr
    %th 公司
    %th 职位
    %th 月薪
    %th 地点
    %th 截止日期
   
  - for job_post in @job_posts
    %tr
      %td=job_post.company_name
      %td=link_to job_post.title,job_post
      %td= job_post.salary ||'面议'
      %td= job_post.city.name
      %td= l job_post.expiration,:format=>:long unless job_post.expiration.nil?

.row
  .span10= paginate @job_posts
