=render 'navigation'

.row
  .span8
    -unless @matching_jobs.empty?
      %h4 匹配职位
      =render collection: @matching_jobs, partial: 'job_post'
    
    %h4 最新职位
    =render collection: JobPost.limit(10), partial: 'job_post'
  .span8
    %h4 关注微博
    =render collection: @status_update, partial: 'shouts/shout'
.row
  .span8

