%ul{:class=>"tabs",:"data-tabs"=>"tabs"}
  %li=link_to "个人介绍", @user
  %li.active=link_to "微博",ind_user_shouts_path(@user.id) if @user.is_a? IndUser
  %li.active=link_to "微博",org_user_shouts_path(@user.id) if @user.is_a? OrgUser
.row
  .span3=render 'ind_users/side_nav_public'
  .span13=render @shouts

.row
  .span13.offset3= paginate @shouts
