-if @user==current_user
  /=render 'ind_users/navigation'
-else

  %ul{:class=>"tabs",:"data-tabs"=>"tabs"}
    %li.active=link_to "个人介绍", @user
    %li=link_to "微博",ind_user_shouts_path(@user.id) if @user.is_a? IndUser
    %li=link_to "微博",org_user_shouts_path(@user.id) if @user.is_a? OrgUser

.row
  =render 'ind_users/side_nav_public'
  .span12
    %h3 
      个性标题
      .edit=link_to "更新",ind_user_edit_path(current_user.id,'profile') if current_user==@user
    =@user.profile.intro_title

    %h3 
      工作经验
      .edit=link_to "更新",ind_user_edit_path(current_user.id,'experience') if current_user==@user
    =render @user.experiences

    %h3 
      学历
      .edit=link_to "更新",ind_user_edit_path(current_user.id,'education') if current_user==@user
    =render @user.educations

    %h3 
      考试/获奖/证书
      .edit=link_to "更新",ind_user_edit_path(current_user.id,'exam') if current_user==@user
    =render @user.exams

    %h3 
      语言能力
      .edit=link_to "更新",ind_user_edit_path(current_user.id,'language') if current_user==@user
    =render @user.languages
    %h3 
      其他技能
      .edit=link_to "更新",ind_user_edit_path(current_user.id,'skill') if current_user==@user
    =render @user.skills
    %h3 
      自我评价
      .edit=link_to "更新",ind_user_edit_path(current_user.id,'profile') if current_user==@user
    
    .span12=@user.profile.intro
    %h3
      我的项目
      %ul
        -@user.projects.each do |project|
          %li.no_dot
            .image=image_tag project.logo(:small)
            =link_to project.title, project
         
