!!!
%html
  %head
    %meta{:content=>"text/html; charset=UTF-8",:'http-equiv'=>"Content-Type"}
  %body    
    %p
      你好,
      =link_to @applicant.name, ind_user_url(@applicant)
      申请了以下职位: 
      =link_to @job_post.title, job_post_url(@job_post)
      。
    -unless @message.empty?
      %p="申请短信:"
      %p{:style=>"background-color:#F5F5FF;width:800px;border-radius:5px;padding:3px;"}=@message
    

    %p=link_to "点击此处查看申请人信息与简历", ind_user_url(@applicant)
    %p=link_to "点击此处查看所有申请", job_post_url(@job_post)
    
    %h2 
      寻找事业机遇，尽在 
      =link_to "i5kong.com", root_url
    =image_tag "http://talent.herokuapp.com/assets/logo.png"
