=render 'ind_users/navigation'
.row
  .span3.search
    =render 'company_searches/form'
  .span13
    %h4 
      -if @is_new 
        所有公司  
      -else
        搜索结果
        =link_to("浏览所有公司",default_companies_path,:class=>"btn")

    -if @users.empty?
      搜索结果为0,请试试别的搜索参数！
    -else
      %table.zebra-striped
        %tr
          %th{width: "60px"} 公司Logo
          %th{width: "300px"} 公司名称
          %th{width: "70px"} 公司城市
          %th{width: "70px"} 公司规模
          %th{width: "100px"} 公司行业
        - for user in @users
          %tr
            %td=image_tag user.logo(:small),height: "40px";
            %td=link_to user.org_profile.company_name, user
            %td=user.org_profile.city.name
            %td=user.org_profile.people_count 
            %td=user.org_profile.industry.name 
      =paginate @users
