%Li=link_to 'Edit Profile',user_edit_path(current_user.id,'profile')
%Li=link_to 'Matching Jobs',''
%Li=link_to 'Matching Tasks',''
%Li=link_to 'Matching Startups',''

=@user.profile.fullname if @user.profile
=@user.email
