.span2
  -required = params[:controller]=~/search/ ? false : true
  -if is_active?("ind_users#") == 'active'
    #province_id=f.input :province_id, :as=>:select, :collection=>Province.all.map{|x| [t(x.name), x.id]},:prompt => t("Select one"),:required=> required
  -else
    #province_id=f.input :province_id, :as=>:select, :collection=>Province.where(:country_id=>1).map{|x| [t(x.name), x.id]},:prompt => t("Select one"),:required=> required
.span2
  #city_id=f.input :city_id, :as=>:select, :collection=> option_groups_from_collection_for_select(Province.all,:cities,:name,:id,:name, city_id),:required=>required

