=semantic_form_for @search do |f|
  =f.inputs do
    .row 
      .span3=f.input :industry
      .span2=f.input :province
      .span2=f.input :keywords
      .span2
        %label &nbsp;
        =submit_tag "搜索",:class=>"btn"

