=semantic_form_for @search do |f|
  =f.inputs do
    .row 
      .span2=f.input :min_age
      .span2=f.input :max_age
      .span2=f.input :keywords
      .span2
        %label &nbsp;
        =submit_tag "搜索",:class=>"btn"

