=semantic_form_for @search do |f|
  =f.inputs do
    .row 
      .span2=f.input :min_age
      .span2=f.input :max_age
      .span2=f.input :keywords
      .span2
        =submit_tag "搜索全部人才",:class=>"btn"
      .span2
        =link_to "查看默认匹配",default_talent_path,:class=>"btn"
        
