#modal-from-dom.modal.hide.fade
  .modal-header
    =link_to "&times;".html_safe,'#',:class=>'close'
    %h3 Terms of Service
    .modal-body

              
      %li ACCEPTANCE OF TERMS
      Sample text


      %li DESCRIPTION OF SERVICE
      Unknown Space provides a rich variety of services including online forums and chat room. You understand that Unknown Space may include advertisement in the services. You also understand that Unknown Space may communicate with you via e-mail regarding Unknown Space services. The services of Unknown Space are provided "AS-IS" and Unknown Space assumes no responsibility for the mistakes and failures in delivering services. You understand and agree that Unknown Space can terminate any services under its sole discretion without noticing users. Unknown Space will not be responsible for any loss caused by Unknown Space’s changes of services or termination of services.
      Some areas of Unknown Space may contain adult or mature content. You must be at least 18 years of age to access and view such areas.

  .modal-footer
    =link_to 'Agree',"#", :class=>"btn primary"
    =link_to 'Disagree',"#",:class=>"btn seondary"
  

