.row.content
  .span16
    %h1 公司介绍
    .row
      .span11
        %p i悟空网以真实用户，诚实信息为根本，致力于为全球海外华人精英提供诚信商务社交关系的职业发展平台。i悟空网的一大特色是关注祖国的发展崛起，致力于打造海外华人精英了解中国，工作于中国，创业于中国的最畅通的信息渠道。

        %h2 i悟空释义：

        %p 每一个海外的华人都堪比孙悟空，身怀绝技，志向高远。然而悟空本领再强，也需要团队的力量才得以排除万难，西天取经。悟空飘的再远，终究心系故乡，取经为造福桑梓。i悟空网的使命是成为每一个海外华人的如意金箍棒，瞬息万变中把握中国机会，实现梦想。

        %h2 i悟空理念

        %p 路在脚下

        %h2 i悟空团队

        %p i悟空于2011年在哈佛大学成立，团队成员全部毕业于中国北大清华和美国常春藤盟校。i悟空是从美国东海岸最大的华人创业协会之一未名紫荆创业联盟（www.weimingzijing.com）孵化平台上走出的创业项目。

        %p 我们自身为海外学生，深知在海外学习和生活的不易，在海外寻找工作和职业发展的迷茫，身处异国他乡但又不能割舍的中国情怀。 我们愿意用我们的努力提供一个海外学子和职业人士分享讨论职业发展机会的平台，在这里实现你的梦想！

      .span5
        .side

