.row.content
  .span16
    %h1 联系我们
    .row
      .span11

        %p 我们热烈欢迎所有同学朋友给我们提供宝贵意见，路在脚下， i悟空愿意和大家一同成长！

        %p
          %b E-mail:
          =mail_to "i5kongtalent@gmail.com"

        %p
          %b Facebook:
          正在建立中

        %p 
          %b LinkedIn: 
          正在建立中

        %p 
          %b 新浪微博: 
          正在建立中

      .span5
        .side





