.row{style: "background-color: white;font-family: '黑体','arial'"}
  .span16
    %h1 有奖推荐活动规则
    .row
      .span11
        %p 当你看到适合你朋友的职位时,你可以在职位页面邀请你的朋友申请该职位。如果你的的朋友加入悟空人才网并被网站上当月任何的有奖职位录取,您将获得1000美金的推荐奖励*。
        %p 没有看到合适你朋友的职位？没有关系。如果你的朋友推荐他的朋友申请当月有奖职位最后录取成功,那么你将得到500美金的辅助推荐奖励*。
        %p=link_to "现在就开始邀请吧!", new_invitation_path(:user)

        具体说明
        %ol
          %li 您需要有完整的个人信息(至少包括头像, 教育经历, 工作经历, 专业技能, 中文或英文简历)
          %li 您录取成功的朋友必须有海外留学工作背景,并填写了完整的个人信息,1000元奖励才有效。
          %li 您的朋友和他推荐成功的朋友填写了完整的个人信息,500元奖励才有效。
          %li 此奖励只对你新加入本网站的朋友有效。
          %li 当同一邮件地址被多个用户推荐时,最接近用户注册的邀请发送人为有效推荐人。
          %li 用户身份由邮件地址为准。如果您的朋友未使用您邀请的邮件加入本网站,你将不能获得奖励。
          /%li 当月发出的邀请只能因为当月有奖职位的录取获奖。具体录取时间可以是当月之后。
          %li 你可以邀请的朋友数量没有限制, 累计奖励不封顶。
          %li 我们会在有奖职位录取成功后公布被录取者,并与获奖者联系,寄出支票。届时如有任何疑问,欢迎和我们联系。

      .span5
        .side
          %h2 本月有奖推荐职位
          -JobPost.on_promo.each do |job|
            %li.promo_job
              .company_name=link_to job.company_name, job.user
              .job_name=link_to job.title, job
