#slide_show_container
  #example
    #slides
      .slides_container
        -@project.photos.each do |photo|
          =link_to image_tag(photo.photo,alt: "Slide 1", height: "270"),"http://www.flickr.com/photos/jliba/4665625073/", target: "_blank", title: "145.365 - Happy Bokeh Thursday! | Flickr - Photo Sharing!"


      /%a.prev{:href => "#"}
      /  %img{:alt => "Arrow Prev", :height => "43", :src => "/assets/img/arrow-prev.png", :width => "24"}/
      /%a.next{:href => "#"}
      /  %img{:alt => "Arrow Next", :height => "43", :src => "/assets/img/arrow-next.png", :width => "24"}/
    %img#frame{:alt => "Example Frame", :height => "341", :src => "/assets/img/example-frame.png", :width => "739"}

