=render 'projects/navigation'
.row
  .span3.search
    =render 'projects/search_form'
  .span13
    %h4
      -if params[:search_id].nil? 
        ="所有创业项目 (#{Project.count}个)"
          
      -else
        ="搜索结果"
        %span.view_all=link_to("浏览所有项目",projects_path)
      .add=link_to "新建项目",new_project_path
    -if @projects.empty?   
      搜索结果为0,请试试别的搜索参数！
    -else
      %table.zebra-striped
        %tr
          %th{width: "60px"} 项目Logo
          %th{width: "340px"} 项目名称
          %th{width: "100px"} 项目领域
          %th{width: "70px"} 所在地
          %th{width: "30px"} 团队
          %th{width: "30px"} 粉丝

        - for project in @projects
          %tr
            %td=image_tag project.logo(:small),height: "40px";
           
            %td
              %b=link_to project.title, project
              %p=project.one_liner
            %td
              -project.project_fields.limit(2).each do |field|
                .skill_item=field.name 
            %td=project.province.name
            %td=project.people_count 
            %td=project.bookmarkings.count
      =paginate @projects
