      
.home_page
  %h1.center 悟空人才网致力于为海外的精英人才和中国的机遇牵线搭桥。
  .row
    .span5
      =image_tag 'jobs_icon.jpg',width: 280; 
      %h4 最新职位
      =render :partial=>'job_posts/job_post',:as=>:job_post, :collection=>JobPost.desc('created_at').limit(5)
    .span5
      =image_tag 'projects_icon.jpg',width: 280; 
      %h4 最新项目
      =render :partial=>'projects/project',:as=>:project,:collection=>Project.desc('created_at').limit(5)
  
    .span5
      =image_tag 'activity_icon.jpg',width: 280; 
      %h4 最新加入
        
      =render :partial=>'ind_users/ind_user',:as=>:user,:collection=>User.desc('created_at').where(:profile.ne=>nil).limit(5)
    

