= semantic_form_for @job_post do |f|
  = f.error_messages
  = f.inputs do
    =hidden_field_tag "job_post[user_id]", current_user.id
    =hidden_field_tag "job_post[is_official]", current_user.is_a?(OrgUser)
    -if current_user.is_a? OrgUser
      .row
        .span8=f.input :company_name
        .span3=f.input :industry_id,:as=>:select, :collection=>Industry.all.map{|x| [t(x.name), x.id]},:prompt => t("Select one")
        .span2=f.input :company_type, :as=>:select, :collection=>JobPost.company_types_for_select,:prompt => t("Select one")
    -else
      .row
        .span8=f.input :company_name
        .span3=f.input :industry_id,:as=>:select, :collection=>Industry.all.map{|x| [t(x.name), x.id]},:prompt => t("Select one")
        .span2=f.input :company_type, :as=>:select, :collection=>JobPost.company_types_for_select,:prompt => t("Select one")
    .row
      .span3=f.input :title
      .span2=f.input :job_type, :as=>:select, :collection=>JobPost.job_types_for_select,:prompt => t("Select one")
      .span2=f.input :years_required, :as=>:select, :collection=>JobPost.years_requireds_for_select,:prompt => t("Select one")
      .span2=f.input :salary, :as=>:select, :collection=>JobPost.salaries_for_select,:prompt => t("Select one")
      
      =render 'shared/city_picker',:f=>f,:item=>'job_post'
    .row
      .span13
        .tiny=f.input :description,:as=>:text,:input_html => { :class => 'autogrow', :rows => 10}
    .row
      .span13
        .tiny=f.input :job_requirement,:as=>:text,:rows=>10,:input_html => { :class => 'autogrow', :rows => 10}
    .row
      .span2=f.input :contact_person
      .span3=f.input :phone_number
      .span4=f.input :email
      .span4
        =f.label :expiration
        =f.date_select :expiration,{},{:class=>"date"}
   
    .row
      .span13
        =f.input :website,:input_html => { :placeholder => 'http://www.example.com'}
    =render 'shared/skill_picker',:item=>@job_post

    = submit_tag "添加职位",:class=>"btn"
 
 

