.row
  .span11
    =link_to "申请职位",'',:class=>'btn primary' if current_user.is_a?(IndUser) and current_user!=@job_post.user 

    .row
      %h3.span8=@job_post.user.is_a?(OrgUser) ? link_to(@job_post.company_name,@job_post.user) : @job_post.company_name
    .row
      
      %h4.span9=(name=@job_post.title).blank? ? '未填' : name
      =bookmark_code(@job_post) if current_user.is_a? IndUser
    .row
      .span2.lab 所属行业:
      .span5=(name=@job_post.industry).blank? ? '未填' : name.name
 
    .row
      .span2.lab 工作类型:  
      .span2=(name=@job_post.job_type).blank? ? '未填' : name
    .row
      .span2.lab 工作年限:
      .span2=(years=@job_post.years_required).to_f==0 ? '无要求' : "#{years}年"
    .row
      .span2.lab 薪酬:
      .span2=(salary=@job_post.salary).to_f==0 ? '面议' : "#{salary} RMB"
    .row
      .span2.lab 所在省市:
      .span4
        =(name=@job_post.city).blank? ? '' : name.province.name
        =(name=@job_post.city).blank? ? '未填' : name.name
    .row
      .span2.lab 截止日期:
      .span4=(date=@job_post.expiration).nil? ? '未填' : l(date, :format=>:long)
    .row
      .span2.lab 工作描述:
      .span8.description=raw @job_post.description || '未填'
    .row
      .span2.lab 用人要求:
      .span8.description=raw @job_post.job_requirement || '未填'

    .row
      .span2.lab 联系人:
      .span4=(person=@job_post.contact_person).blank? ? '未填' : person 
    .row
      .span2.lab 电话号码:
      .span4=(no=@job_post.phone_number).blank? ? '未填' : no
    .row
      .span2.lab 电子邮件:
      .span4=(email=@job_post.email).blank? ? '未填' : mail_to(email)
    .row
      .span2.lab 相关网页:
      .span4=link_to @job_post.website,"#{@job_post.website}" || '未填'
    .row
      .span2.lab 相关技能:
      .span8=(skills=@job_post.skills).blank? ? '未填' : render(skills)
    
    =link_to "申请职位",'',:class=>'btn primary' if current_user.is_a?(IndUser) and current_user!=@job_post.user 
    =link_to "收藏职位",'',:class=>'btn primary' if current_user.is_a?(IndUser) and current_user!=@job_post.user


    = link_to "编辑", edit_job_post_path(@job_post) if current_user==@job_post.user 
    =link_to "删除", @job_post, :confirm => 'Are you sure?', :method => :delete if current_user==@job_post.user 

  
    
  .span5
    -unless @same_company_jobs.blank?
      %h4 同一来源职位
      =render @same_company_jobs
    -unless @related_skill_jobs.blank?
      %h4 相关技能职位
      =render @related_skill_jobs  
    -unless @same_industry_jobs.blank?
      %h4 同一行业职位
      =render @same_industry_jobs  
