.row
  .span11
    .row
      .span11
        -if current_user==@job_post.user 
          =link_to "所有发布",send("#{current_user.class.to_s.underscore}_job_posts_path", current_user.id),:class=>'btn'
          =link_to "添加",new_job_post_path,:class=>'btn' 
        
          = link_to "编辑", edit_job_post_path(@job_post) ,:class=>'btn' 
          =link_to "删除", @job_post, :confirm => 'Are you sure?', :method => :delete ,:class=>'btn' 
        
        -elsif current_user.is_a?(IndUser)
          =render 'job_posts/apply_box'
          -if !current_user.job_applied?(@job_post)
            =link_to "申请职位","",:'data-controls-modal'=>"modal-from-dom",:'data-backdrop'=>"true", :class=>'btn primary'  
          -else 
            =link_to "撤销申请", cancel_job_application_path(current_user.get_job_application(@job_post)), :class=>"btn primary"
          =bookmark_code(@job_post) 
        
    %br    
    .row
      .span7
        公司名称
        %h4=@job_post.user.is_a?(OrgUser) ? link_to(@job_post.company_name,@job_post.user) : @job_post.company_name
      .span2
        行业
        %h4=@job_post.industry.name 
      .span2
        公司性质
        %h4=@job_post.company_type
    .row
      .span3 
        职位名称
        %h4=@job_post.title 
      .span2
        工作性质
        %h4=@job_post.job_type
      .span2
        经验要求
        %h4=@job_post.years_required 
      .span2
        月薪
        %h4=@job_post.salary
      .span2
        工作地点
        %h4
          =@job_post.province.name
          =@job_post.city.name    
     
    .row
      .span11
        职位描述
        .description=raw @job_post.description
    .row
      .span11 
        用人要求:
        .description=raw @job_post.job_requirement

    .row
      .span2
        联系人
        %h4=(person=@job_post.contact_person).blank? ? '未填' : person 
      .span3
        电话号码:
        %h4=(no=@job_post.phone_number).blank? ? '未填' : no
      .span4
        电子邮件:
        %h4=(email=@job_post.email).blank? ? '未填' : mail_to(email)
      .span3
        截止日期:
        %h4=l @job_post.expiration, :format=>:long
    .row
      .span10
        职位申请链接:
        %h4=(url=@job_post.website).blank? ? '未填' : link_to(url, url)
    .row
      .span10
        相关技能:
        -if (skills=@job_post.skills).blank?
          %h4 未填
        -else
          %p=render(skills)
      


    
  .span5.side
    -unless @latest_jobs.blank?
      .module
        %h4 悟空最新职位
        .list=render @latest_jobs
    -unless @same_company_jobs.blank?
      .module
        %h4 同一来源职位
        .list=render @same_company_jobs
    -unless @related_skill_jobs.blank?
      .module
        %h4 相关技能职位
        .list=render @related_skill_jobs  
    -unless @same_industry_jobs.blank?
      .module
        %h4 同一行业职位
        .list=render @same_industry_jobs  
