.span3

  %ul.side_nav  
    %li 修改账户信息
    %li{:class=>"#{params[:info]=='account'? "active":""}"}=link_to "修改密码",org_user_edit_path(current_user.id,'account')
  %ul.side_nav    
    %li 修改机构信息
    %li{:class=>"#{params[:info]=='profile'? "active":""}"}=link_to "必填信息",org_user_edit_path(current_user.id,'profile')
    /%li{:class=>"#{params[:info]=='skill'? "active":""}"}=link_to "寻求技能",org_user_edit_path(current_user.id,'skill')

