=render 'org_users/navigation'

.row
  .span3
    .sidebar
      .image=image_tag @user.logo.url(:medium)
      =bookmark_code @user if current_user.is_a? IndUser
      =link_to("编辑公司信息", org_user_edit_path(@user,'profile'), :class=>'btn primary') if @user == current_user
  .span12
    %h1=@user.org_profile.company_name  
    .row
      .span3
        %p.one_liner=@user.org_profile.industry.name    
      .span3
        %b 公司总部:
        =@user.org_profile.city.fullname
      .span3
        %b 公司人数:
        =@user.org_profile.people_count
      .span3
        %b 公司性质:
        =@user.org_profile.company_type


    .row
      .span12
        %h4 简要介绍
        .short.description=@user.org_profile.short_description
      -unless (desc = @user.org_profile.long_description).empty?
        .span12
          %h3 详细介绍
          .description=raw desc
    -if false
      .row
        .span2
          %h4 联系人
          =@user.org_profile.contact_person

        .span3
          %h4 电话号码
          =@user.org_profile.phone_number

        .span3
          %h4 电子邮件
          =mail_to @user.org_profile.email

    .row
      .span12
        %h4 官方网站
        =link_to @user.org_profile.website,@user.org_profile.website

    .row
      .span12
        %h3 最近发布职位 
        -if @user.job_posts.empty?
          暂无
        -else
          %table.zebra-striped
            %tr
              %th{width: 300} 职位
              %th{width: 200} 月薪
              %th{width: 200} 地点
              %th{width: 140} 截止日期
              - for job_post in @user.job_posts.limit(5)
                %tr
                  %td=link_to job_post.title,job_post
                  %td= job_post.salary ||'面议'
                  %td= job_post.city.name
                  %td= l job_post.expiration,:format=>:long unless job_post.expiration.nil?
          =link_to "查看全部职位", org_user_job_posts_path(@user)  
