.footer{
  height: 30px;
  padding: 20px;
  .container{
    ul{
      text-align: center;
      margin: 0px;
      padding: 0px;
    }
    li{
      padding: 0 20px;
      float:left;
      list-style-type: none;
    }

  }
}
