#slide_show_container {
	width:500px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
  margin-left:15px;
  
  #example {
  	width:520px;
  	height:350px;
  	position:relative;
  }

  #ribbon {
	  position:absolute;
	  top:-3px;
	  left:-15px;
	  z-index:500;
  }

  #frame {
	  position:absolute;
	  z-index:0;
	  width:659px;
	  height:341px;
	  top:-3px;
	  left:-80px;
  }

  /*
	  Slideshow
  */

  #slides {
	  position:absolute;
	  top:15px;
	  left:4px;
	  z-index:100;
  }

  /*
	  Slides container
	  Important:
	  Set the width of your slides container
	  Set to display none, prevents content flash
  */

  .slides_container {
	  width:490px;
	  height:270px;
	  overflow:hidden;
	  position:relative;
	  display:none;
    border:15px solid grey;
  }

  /*
	  Each slide
	  Important:
	  Set the width of your slides
	  If height not specified height will be set by the slide content
	  Set to display block
  */

  .slides_container a {
	  width:490px;
	  height:270px;
	  display:block;
	  text-align:center;
  }

  /*
	  Next/prev buttons
  */

  #slides .next,#slides .prev {
	  position:absolute;
	  top:107px;
	  left:-39px;
	  width:24px;
	  height:43px;
	  display:block;
	  z-index:101;
  }

  #slides .next {
	  left:585px;
  }

  /*
	  Pagination
  */

  .pagination {
	  margin:26px auto 0;
	  width:100px;
  }

  .pagination li {
	  float:left;
	  margin:0 1px;
	  list-style:none;
  }

  .pagination li a {
	  display:block;
	  width:12px;
	  height:0;
	  padding: 0px;
	  border: none;
	  padding-top:12px;
	  background-image:url(img/pagination.png);
	  background-position:0 0;
	  float:left;
	  overflow:hidden;
	  
  }

  .pagination li.current a {
	  background-position:0 -12px;
  }

  /*
	  Footer
  */

  #footer {
	  text-align:center;
	  width:500px;
	  margin-top:9px;
	  padding:4.5px 0 18px;
	  border-top:1px solid #dfdfdf;
  }

  #footer p {
	  margin:4.5px 0;
	  font-size:1.0em;
  }

  /*
	  Anchors
  */

  a:link,a:visited {
	  color:#599100;
	  text-decoration:none;
  }

  a:hover,a:active {
	  color:#599100;
	  text-decoration:underline;
  }
}


