%p
  您好，
%p 
  欢迎加入悟空海外人才网! 您可以点击以下链接确认您的邮箱。 如果您有任何的疑问, 欢迎和我们联系: info@i5kong.com
%p
  =confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%h4 关于悟空海外人才网

-if @resource.is_a? IndUser

  %p 悟空海外人才网（ i5kong.com，以下简称悟空网）以真实用户，诚实信息为根本，致力于为全球海外华人精英提供诚信商务社交关系的职业发展平台。悟空网关注祖国的发展崛起，致力于打造海外华人精英了解祖国，工作于祖国，创业于祖国的最畅通的信息渠道。
  %p 每一个海外的华人都堪比孙悟空，身怀绝技，志向高远。然而悟空本领再强，也需要团队的力量才得以排除万难，西天取经。悟空飘的再远，终究心系故乡，取经为造福桑梓。悟空网的使命是成为每一个海外华人的如意金箍棒，瞬息万变中把握中国机会，实现梦想。
  %p 我们是最大的帮助海外人才寻找中国机会的网站。我们连接海外人才和中国工作，创业，和活动机会，帮助海外人才得到最好的职业发展，同时为中国之崛起而奋斗。
-else
  %p 我们是最大的帮助海外人才寻找中国机会的网站。我们连接海外人才和中国工作，创业，和活动机会，帮助海外人才得到最好的职业发展，同时为中国之崛起而奋斗。
