%p
  您好, #{@resource.email}!
%p 我们收到了重设您在悟空人才网的密码的请求。您可以点击以下链接重设密码。
%p= link_to '重设密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p 如果您没有请求密码重设，您可以忽略次邮件,您的密码将保持不变。


悟空人才网
%br
用户服务中心
