= semantic_form_for @tech_post do |f|

  = f.inputs do
    .row
      .span8=f.input :title
    .row
      .span10=f.input :description, :as=>:text,:input_html => { :class=> 'autogrow', :rows=>10}
    .row
      .span6=f.input :province_id, :as=>:select, :collection=>Province.all.map{|x| [t(x.name), x.id]},:prompt => t("Select one")
    .row
      .span6=f.input :project_fields, :label => "技术领域*", :as => :check_boxes, :collection => ProjectField.all, :multiple=>true

    .row
      .span10=f.input :co_type, :as => :select , :collection => TechPost.co_types_for_select
    .row
      .span8=f.input :compensation , :as=>:text,:input_html => { :class => 'autogrow', :rows => 10}
    .row
      .span2=f.input :contact_person
      .span3=f.input :phone_number
      .span4=f.input :email
   

    = f.action :submit, :button_html => { :class=>"btn primary"}
 

