=render "projects/navigation"

.row
  .span4
    .sidebar
      %br
      .image
        -if @tech_post.user.is_a?(OrgUser)
          =image_tag @tech_post.user.avatar.url(:medium)
        -else
          =image_tag @tech_post.user.logo
      -if current_user.is_a?(IndUser) && current_user!=@tech_post.user
        =render 'tech_posts/apply_box'
        -if app = @tech_post.get_application(current_user)
          =link_to "撤销申请", cancel_tech_application_path(app.id), :class=>"btn primary"
        -else
          =link_to "申请合作", "", :'data-controls-modal'=>"modal-from-dom",:'data-backdrop'=>"true", :class=>'btn primary'
  .span12
    .row
      .span12
        %h1=@tech_post.user.name
    .row
      .span12
        %h4 技术需求
        =@tech_post.title
    .row
      .span12
        %h4 详细描述
        .description=raw @tech_post.description
    .row
      .span3
        %h4 省份
        =@tech_post.province.name
      .span9
        %h4 技术领域
        -@tech_post.project_fields.each do |field|
          .skill_item=field.name
    .row
      .span12
        %h4 合作方式
        =@tech_post.co_type
    .row
      .span12
        %h4 提供条件
        .description=raw @tech_post.compensation
    .row
      .span3
        %h4 联系人
        =@tech_post.contact_person
      .span4
        %h4 联系电话
        =@tech_post.phone_number
      .span5
        %h4 电子邮件地址
        =@tech_post.email
    .row
      .span10
        -if @user == @tech_post.user 
          =link_to "添加",new_tech_post_path,:class=>'btn'
          =link_to "编辑", edit_tech_post_path(@tech_post) ,:class=>'btn'
          =link_to "删除", @tech_post, :confirm => '确认删除吗?', :method => :delete ,:class=>'btn'
