%footer.footer
  %ul.container
    %li=link_to "公司介绍", "/company"
    /%li=link_to "服务项目", "/services"
    /%li=link_to "核心团队", "/team"
    /%li=link_to "加入我们", "/jobs"
    %li=link_to "联系我们", "/contact"

    %li
      &#169;2012 Talent Rush Inc. All Rights Reserved.
